/*
Error: Invalid CSS after "...min-width:768px": expected ")", was ";) {"
        on line 6 of scss/refills/_map-canvas.scss
        from line 18 of scss/styles.scss

1: #map_canvas {
2:   height: 350px;
3:   width: 100%;
4: }
5: 
6: @media screen and (min-width:768px;) {
7:   #map_canvas {
8:     height: 550px;
9:   }
10: }
11: 

Backtrace:
scss/refills/_map-canvas.scss:6
scss/styles.scss:18
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1165:in `expected'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:467:in `query_expr'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1079:in `expr!'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:438:in `media_query'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:406:in `media_query_list'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1079:in `expr!'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:194:in `directive'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:299:in `to_tree'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/freeagency/.rvm/gems/ruby-2.2.0/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...min-width:768px\": expected \")\", was \";) {\"\A         on line 6 of scss/refills/_map-canvas.scss\A         from line 18 of scss/styles.scss\A \A 1: #map_canvas {\A 2:   height: 350px;\A 3:   width: 100%;\A 4: }\A 5: \A 6: @media screen and (min-width:768px;) {\A 7:   #map_canvas {\A 8:     height: 550px;\A 9:   }\A 10: }\A 11: "; }
